openapi: 3.0.1
info:
  title: BİLSOFT
  version: v1
servers:
  - description: SwaggerHub API Auto Mocking
    url: 'https://apiv3.bilsoft.com/swagger/v1/swagger.json'
security:
  - Bearer: []
paths:
  /api/Ajanda/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaFilterHelper'
      responses:
        '200':
          description: Success
      summary: Ajandaları Listele
      description: >-
        Veritabanındaki tüm ajanda kayıtlarını getirir. Bu işlem, kullanıcıların
        tüm ajanda kayıtlarını listelemelerini sağlar.
      tags:
        - Ajanda İşlemleri
  /api/Ajanda/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ajanda Listele ID ile
      description: >-
        Belirtilen ID'ye sahip ajanda kaydını getirir. Bu işlem, belirli bir
        ajanda kaydını görüntülemek için kullanılır.
      tags:
        - Ajanda İşlemleri
  /api/Ajanda/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          application/json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          text/json:
            schema:
              $ref: '#/components/schemas/Ajanda'
      responses:
        '200':
          description: Success
      summary: Ajanda Ekle
      description: >-
        Yeni bir ajanda kaydı ekler. Bu işlem, kullanıcıların ajandalarına yeni
        etkinlikler veya notlar eklemelerini sağlar.
      tags:
        - Ajanda İşlemleri
  /api/Ajanda/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Ekle Toplu
      description: >-
        Belirtilen aralıkta birden fazla ajanda kaydı ekler. Bu işlem, toplu
        ajanda eklemeleri yapmak için kullanılır.
      tags:
        - Ajanda İşlemleri
  /api/Ajanda/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          application/json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          text/json:
            schema:
              $ref: '#/components/schemas/Ajanda'
      responses:
        '200':
          description: Success
      summary: Ajanda Güncelle
      description: >-
        Belirtilen ID'ye sahip ajanda kaydını günceller. Bu işlem, mevcut bir
        ajanda kaydındaki bilgileri güncellemek için kullanılır.
      tags:
        - Ajanda İşlemleri
  /api/Ajanda/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Güncelle Toplu
      description: >-
        Birden fazla ajanda kaydını aynı anda günceller. Bu işlem, toplu
        düzenlemeler yapmak gerektiğinde kullanılır.
      tags:
        - Ajanda İşlemleri
  /api/Ajanda/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          application/json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ajanda'
          text/json:
            schema:
              $ref: '#/components/schemas/Ajanda'
      responses:
        '200':
          description: Success
      summary: Ajanda Sil
      description: >-
        Ajanda silmek için kullanılır. Bu işlem, kullanıcıların belirli bir
        ajanda kaydını kaldırmalarına olanak tanır.
      tags:
        - Ajanda İşlemleri
  /api/Ajanda/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ajanda Sil ID ile
      tags:
        - Ajanda İşlemleri
  /api/Ajanda/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ajanda'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Sil Toplu
      description: >-
        Belirtilen aralıkta bulunan ajanda kayıtlarını toplu olarak siler. Bu
        işlem, birden fazla kaydın aynı anda temizlenmesi gerektiğinde
        kullanılır.
      tags:
        - Ajanda İşlemleri
  /api/AjandaDosya/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaDosyaFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaDosyaFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaDosyaFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaDosyaFilterHelper'
      responses:
        '200':
          description: Success
      summary: Ajanda Dosyalarını Listele
      description: >-
        Veritabanındaki tüm ajanda dosyalarını getirir. Bu işlem, kullanıcıların
        tüm dosyaları listelemelerini sağlar.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaDosya/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ajanda Dosya Listele ID ile
      description: >-
        Belirtilen ID'ye sahip ajanda dosyasını getirir. Bu işlem, belirli bir
        ajanda dosyasını görüntülemek için kullanılır.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaDosya/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
      responses:
        '200':
          description: Success
      summary: Ajanda Dosya Ekle
      description: >-
        Yeni bir ajanda dosyası ekler. Bu işlem, kullanıcıların ajandalarına
        dosya eklemelerini sağlar.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaDosya/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Dosya Ekle Toplu
      description: >-
        Belirtilen aralıkta birden fazla ajanda dosyası ekler. Bu işlem, toplu
        dosya eklemeleri yapmak için kullanılır.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaDosya/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
      responses:
        '200':
          description: Success
      summary: Ajanda Dosya Güncelle
      description: >-
        Belirtilen ID'ye sahip ajanda dosyasını günceller. Bu işlem, mevcut bir
        ajanda dosyasındaki bilgileri güncellemek için kullanılır.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaDosya/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Dosya Güncelle Toplu
      description: >-
        Belirtilen aralıkta bulunan ajanda dosyalarını toplu olarak günceller.
        Bu işlem, birden fazla dosyanın aynı anda güncellenmesi gerektiğinde
        kullanılır.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaDosya/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaDosya'
      responses:
        '200':
          description: Success
      summary: Ajanda Dosya Sil
      description: >-
        Belirtilen ID'ye sahip ajanda dosyasını siler. Bu işlem, kullanıcıların
        belirli bir ajanda dosyasını kaldırmalarına olanak tanır.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaDosya/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ajanda Dosya Sil ID ile
      description: >-
        Belirtilen ID'ye sahip ajanda dosyasını siler. Bu işlem, belirli bir
        dosyanın kaldırılmasını sağlar.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaDosya/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaDosya'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Dosya Sil Toplu
      description: >-
        Belirtilen aralıkta bulunan ajanda dosyalarını toplu olarak siler. Bu
        işlem, birden fazla dosyanın aynı anda temizlenmesi gerektiğinde
        kullanılır.
      tags:
        - Ajanda Dosya İşlemleri
  /api/AjandaNotlar/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaNotlarFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaNotlarFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaNotlarFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaNotlarFilterHelper'
      responses:
        '200':
          description: Success
      summary: Ajanda Notlarını Listele
      description: >-
        Veritabanındaki tüm ajanda notlarını getirir. Bu işlem, kullanıcıların
        tüm notları listelemelerini sağlar.
      tags:
        - Ajanda Not
  /api/AjandaNotlar/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ajanda Not Listele ID ile
      description: >-
        Belirtilen ID'ye sahip ajanda notunu getirir. Bu işlem, belirli bir
        ajanda notunu görüntülemek için kullanılır.
      tags:
        - Ajanda Not
  /api/AjandaNotlar/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
      responses:
        '200':
          description: Success
      summary: Ajanda Not Ekle
      description: >-
        Yeni bir ajanda notu ekler. Bu işlem, kullanıcıların ajandalarına not
        eklemelerini sağlar.
      tags:
        - Ajanda Not
  /api/AjandaNotlar/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Not Ekle Toplu
      description: >-
        Belirtilen aralıkta birden fazla ajanda notu ekler. Bu işlem, toplu not
        eklemeleri yapmak için kullanılır.
      tags:
        - Ajanda Not
  /api/AjandaNotlar/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
      responses:
        '200':
          description: Success
      summary: Ajanda Not Güncelle
      description: >-
        Belirtilen ID'ye sahip ajanda notunu günceller. Bu işlem, mevcut bir
        ajanda notundaki bilgileri güncellemek için kullanılır.
      tags:
        - Ajanda Not
  /api/AjandaNotlar/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Notlarını Güncelle
      description: >-
        Belirtilen aralıkta bulunan ajanda notlarını toplu olarak günceller. Bu
        işlem, birden fazla notun aynı anda güncellenmesi gerektiğinde
        kullanılır.
      tags:
        - Ajanda Not
  /api/AjandaNotlar/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          application/json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
          text/json:
            schema:
              $ref: '#/components/schemas/AjandaNotlar'
      responses:
        '200':
          description: Success
      summary: Ajanda Not Sil
      description: >-
        Belirtilen ID'ye sahip ajanda notunu siler. Bu işlem, kullanıcıların
        belirli bir ajanda notunu kaldırmalarına olanak tanır.
      tags:
        - Ajanda Not
  /api/AjandaNotlar/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ajanda Not Sil ID ile
      description: >-
        Belirtilen ID'ye sahip ajanda notunu siler. Bu işlem, belirli bir notun
        kaldırılmasını sağlar.
      tags:
        - Ajanda Not
  /api/AjandaNotlar/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/AjandaNotlar'
              type: array
      responses:
        '200':
          description: Success
      summary: Ajanda Not Silme Toplu
      description: >-
        Belirtilen aralıkta bulunan ajanda notlarını toplu olarak siler. Bu
        işlem, birden fazla notun aynı anda temizlenmesi gerektiğinde
        kullanılır.
      tags:
        - Ajanda Not
  /api/ApiKullanici/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiKullaniciFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKullaniciFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiKullaniciFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiKullaniciFilterHelper'
      responses:
        '200':
          description: Success
      summary: Api Kullanıcıları Listele
      description: >-
        Veritabanındaki tüm ApiKullanıcıları getirir. Bu işlem, tüm
        kullanıcıları listelemek için kullanılır.
      tags:
        - Api Kullanıcı
  /api/ApiKullanici/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Api Kullanıcı Listele ID ile
      description: >-
        Belirtilen ID'ye sahip ApiKullanıcıyı getirir. Bu işlem, belirli bir
        kullanıcıyı görüntülemek için kullanılır.
      tags:
        - Api Kullanıcı
  /api/ApiKullanici/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
      responses:
        '200':
          description: Success
      summary: Api Kullanıcı Ekle
      description: >-
        Yeni bir ApiKullanıcı ekler. Bu işlem, sistemde yeni kullanıcılar
        oluşturmak için kullanılır.
      tags:
        - Api Kullanıcı
  /api/ApiKullanici/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
      responses:
        '200':
          description: Success
      summary: Api Kullanıcı Ekle Toplu
      description: >-
        Belirtilen aralıkta birden fazla ApiKullanıcı ekler. Bu işlem, toplu
        kullanıcı eklemeleri yapmak için kullanılır.
      tags:
        - Api Kullanıcı
  /api/ApiKullanici/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
      responses:
        '200':
          description: Success
      summary: Api Kullanıcı Güncelle
      description: >-
        Belirtilen ID'ye sahip ApiKullanıcıyı günceller. Bu işlem, mevcut bir
        kullanıcının bilgilerini güncellemek için kullanılır.
      tags:
        - Api Kullanıcı
  /api/ApiKullanici/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
      responses:
        '200':
          description: Success
      summary: Api Kullanıcı Güncelle Toplu
      description: >-
        Belirtilen aralıkta bulunan ApiKullanıcıları toplu olarak günceller. Bu
        işlem, birden fazla kullanıcının aynı anda güncellenmesi gerektiğinde
        kullanılır.
      tags:
        - Api Kullanıcı
  /api/ApiKullanici/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
          text/json:
            schema:
              $ref: '#/components/schemas/ApiKullanici'
      responses:
        '200':
          description: Success
      summary: Api Kullanıcı Sil
      description: >-
        Belirtilen ID'ye sahip ApiKullanıcıyı siler. Bu işlem, kullanıcıları
        sistemden kaldırmak için kullanılır.
      tags:
        - Api Kullanıcı
  /api/ApiKullanici/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Api Kullanıcı Sil ID ile
      description: >-
        Belirtilen ID'ye sahip ApiKullanıcıyı siler. Bu işlem, belirli bir
        kullanıcıyı sistemden kaldırmak için kullanılır.
      tags:
        - Api Kullanıcı
  /api/ApiKullanici/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/ApiKullanici'
              type: array
      responses:
        '200':
          description: Success
      summary: Api Kullanıcı Sil Toplu
      description: >-
        Belirtilen aralıkta bulunan ApiKullanıcıları toplu olarak siler. Bu
        işlem, birden fazla kullanıcıyı aynı anda kaldırmak için kullanılır.
      tags:
        - Api Kullanıcı
  /api/Auth/GirisYap:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/GirisYapRequestDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/GirisYapRequestDTO'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GirisYapRequestDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/GirisYapRequestDTO'
      responses:
        '200':
          description: Success
      summary: Giriş Yap
      description: >-
        Kullanıcıların sisteme giriş yapmalarını sağlar. Bu işlem, kullanıcı
        kimlik doğrulama ve oturum açma işlemleri için kullanılır.
      tags:
        - Auth
  /api/Auth/GirisYapDonemGetir:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/GirisYapDonemGetirRequestDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/GirisYapDonemGetirRequestDTO'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GirisYapDonemGetirRequestDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/GirisYapDonemGetirRequestDTO'
      responses:
        '200':
          description: Success
      summary: Giriş Yap Dönem Getir
      description: >-
        Kullanıcının giriş yaptığı dönemi getirir. Bu işlem, oturum açma
        tarihlerini veya dönemlerini kontrol etmek için kullanılır.
      tags:
        - Auth
  /api/Auth/SifreUnuttum:
    post:
      parameters:
        - explode: true
          in: query
          name: mail
          required: false
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: vergiNo
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Success
      summary: Şifre Unuttum
      description: >-
        Kullanıcının şifresini unuttuğu durumda yeni bir şifre talep eder. Bu
        işlem, şifre sıfırlama sürecini başlatır.
      tags:
        - Auth
  /api/Auth/smsDogrulama:
    post:
      parameters:
        - explode: true
          in: query
          name: Cep
          required: false
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: smsKod
          required: false
          schema:
            type: string
          style: form
      responses:
        '200':
          description: Success
      summary: SMS Doğrulama
      description: >-
        Kullanıcının telefon numarasına gönderilen SMS kodunu doğrular. Bu
        işlem, kullanıcıların kimliklerini doğrulamak için kullanılır.
      tags:
        - Auth
  /api/Auth/smsKodGonder:
    post:
      parameters:
        - explode: true
          in: query
          name: kullaniciSifre
          required: false
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: Ip
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Firma'
          application/json:
            schema:
              $ref: '#/components/schemas/Firma'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Firma'
          text/json:
            schema:
              $ref: '#/components/schemas/Firma'
      responses:
        '200':
          description: Success
      summary: SMS Kod Gönder
      description: >-
        Kullanıcının telefon numarasına bir SMS kodu gönderir. Bu işlem, kimlik
        doğrulama veya şifre sıfırlama için kullanılan bir kodu kullanıcıya
        iletir.
      tags:
        - Auth
  /api/Ayar/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AyarFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/AyarFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AyarFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/AyarFilterHelper'
      responses:
        '200':
          description: Success
      summary: Ayarları Listele
      description: >-
        Veritabanındaki tüm ayarları getirir. Bu işlem, kullanıcıların tüm
        ayarları listelemelerini sağlar.
      tags:
        - Ayar
  /api/Ayar/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ayar Listele ID ile
      description: >-
        Belirtilen ID'ye sahip ayarı getirir. Bu işlem, belirli bir ayarı
        görüntülemek için kullanılır.
      tags:
        - Ayar
  /api/Ayar/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Ayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Ayar'
      responses:
        '200':
          description: Success
      summary: Ayar Ekle
      description: >-
        Yeni bir ayar ekler. Bu işlem, sistemde yeni ayarlar oluşturmak için
        kullanılır.
      tags:
        - Ayar
  /api/Ayar/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Ayar Ekle Toplu
      description: >-
        Belirtilen aralıkta birden fazla ayar ekler. Bu işlem, toplu ayar
        eklemeleri yapmak için kullanılır.
      tags:
        - Ayar
  /api/Ayar/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Ayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Ayar'
      responses:
        '200':
          description: Success
      summary: Ayar Güncelle
      description: >-
        Belirtilen ID'ye sahip ayarı günceller. Bu işlem, mevcut bir ayardaki
        bilgileri güncellemek için kullanılır.
      tags:
        - Ayar
  /api/Ayar/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Ayar Güncelle Toplu
      description: >-
        Belirtilen aralıkta bulunan ayarları toplu olarak günceller. Bu işlem,
        birden fazla ayarın aynı anda güncellenmesi gerektiğinde kullanılır.
      tags:
        - Ayar
  /api/Ayar/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Ayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Ayar'
      responses:
        '200':
          description: Success
      summary: Ayar Sil
      description: >-
        Belirtilen ID'ye sahip ayarı siler. Bu işlem, kullanıcıların belirli
        ayarları sistemden kaldırmalarına olanak tanır.
      tags:
        - Ayar
  /api/Ayar/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ayar Sil ID ile
      description: >-
        Belirtilen ID'ye sahip ayarı siler. Bu işlem, belirli bir ayarın
        sistemden kaldırılmasını sağlar.
      tags:
        - Ayar
  /api/Ayar/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Ayar Sil Toplu
      description: >-
        Belirtilen aralıkta bulunan ayarları toplu olarak siler. Bu işlem,
        birden fazla ayarın aynı anda temizlenmesi gerektiğinde kullanılır.
      tags:
        - Ayar
  /api/Ayarekmodul/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/AyarekmodulFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/AyarekmodulFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AyarekmodulFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/AyarekmodulFilterHelper'
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modüllerini Listele
      description: >-
        Veritabanındaki tüm ayar ek modüllerini getirir. Bu işlem,
        kullanıcıların tüm modülleri listelemelerini sağlar.
      tags:
        - Ayar Ek Modül
  /api/Ayarekmodul/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modül Listele ID ile
      description: >-
        Belirtilen ID'ye sahip ayar ek modülünü getirir. Bu işlem, belirli bir
        modülü görüntülemek için kullanılır.
      tags:
        - Ayar Ek Modül
  /api/Ayarekmodul/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          application/json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          text/json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modül Ekle
      description: >-
        Yeni bir ayar ek modülü ekler. Bu işlem, sistemde yeni modüller
        oluşturmak için kullanılır.
      tags:
        - Ayar Ek Modül
  /api/Ayarekmodul/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modül Ekle Toplu
      description: >-
        Belirtilen aralıkta birden fazla ayar ek modülü ekler. Bu işlem, toplu
        modül eklemeleri yapmak için kullanılır.
      tags:
        - Ayar Ek Modül
  /api/Ayarekmodul/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          application/json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          text/json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modül Güncelle
      description: >-
        Belirtilen ID'ye sahip ayar ek modülünü günceller. Bu işlem, mevcut bir
        modülde yapılan bilgileri güncellemek için kullanılır.
      tags:
        - Ayar Ek Modül
  /api/Ayarekmodul/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modüllerini Güncelle
      description: >-
        Belirtilen aralıkta bulunan ayar ek modüllerini toplu olarak günceller.
        Bu işlem, birden fazla modülün aynı anda güncellenmesi gerektiğinde
        kullanılır.
      tags:
        - Ayar Ek Modül
  /api/Ayarekmodul/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          application/json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
          text/json:
            schema:
              $ref: '#/components/schemas/Ayarekmodul'
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modül Sil
      description: >-
        Belirtilen ID'ye sahip ayar ek modülünü siler. Bu işlem, kullanıcıların
        belirli modülleri sistemden kaldırmalarına olanak tanır.
      tags:
        - Ayar Ek Modül
  /api/Ayarekmodul/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modül Sil ID ile
      description: >-
        Belirtilen ID'ye sahip ayar ek modülünü siler. Bu işlem, belirli bir
        modülün sistemden kaldırılmasını sağlar.
      tags:
        - Ayar Ek Modül
  /api/Ayarekmodul/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Ayarekmodul'
              type: array
      responses:
        '200':
          description: Success
      summary: Ayar Ek Modül Sil Toplu
      description: >-
        Belirtilen aralıkta bulunan ayar ek modüllerini toplu olarak siler. Bu
        işlem, birden fazla modülün aynı anda temizlenmesi gerektiğinde
        kullanılır.
      tags:
        - Ayar Ek Modül
  /api/Banka/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaFilterHelper'
      responses:
        '200':
          description: Success
      summary: Banka Kayıtlarını Listele
      description: >-
        Veritabanındaki tüm banka kayıtlarını getirir. Bu işlem, kullanıcıların
        tüm bankaları listelemelerini sağlar.
      tags:
        - Banka
  /api/Banka/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Listele ID ile
      description: >-
        Belirtilen ID'ye sahip banka kaydını getirir. Bu işlem, belirli bir
        bankayı görüntülemek için kullanılır.
      tags:
        - Banka
  /api/Banka/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Banka'
          application/json:
            schema:
              $ref: '#/components/schemas/Banka'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Banka'
          text/json:
            schema:
              $ref: '#/components/schemas/Banka'
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Ekle
      description: >-
        Yeni bir banka kaydı ekler. Bu işlem, sisteme yeni banka bilgileri
        eklemek için kullanılır.
      tags:
        - Banka
  /api/Banka/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Ekle Toplu
      description: >-
        Belirtilen aralıkta birden fazla banka kaydı ekler. Bu işlem, toplu
        banka eklemeleri yapmak için kullanılır.
      tags:
        - Banka
  /api/Banka/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Banka'
          application/json:
            schema:
              $ref: '#/components/schemas/Banka'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Banka'
          text/json:
            schema:
              $ref: '#/components/schemas/Banka'
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Güncelle
      description: >-
        Belirtilen ID'ye sahip banka kaydını günceller. Bu işlem, mevcut bir
        bankadaki bilgileri güncellemek için kullanılır.
      tags:
        - Banka
  /api/Banka/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Güncelle Toplu
      description: >-
        Belirtilen aralıkta bulunan banka kayıtlarını toplu olarak günceller. Bu
        işlem, birden fazla bankanın aynı anda güncellenmesi gerektiğinde
        kullanılır.
      tags:
        - Banka
  /api/Banka/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Banka'
          application/json:
            schema:
              $ref: '#/components/schemas/Banka'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Banka'
          text/json:
            schema:
              $ref: '#/components/schemas/Banka'
      responses:
        '200':
          description: Success
      summary: Banka Sil
      description: >-
        Belirtilen ID'ye sahip banka kaydını siler. Bu işlem, kullanıcıların
        belirli bir banka kaydını sistemden kaldırmalarına olanak tanır.
      tags:
        - Banka
  /api/Banka/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Sil ID ile
      description: >-
        Belirtilen ID'ye sahip banka kaydını siler. Bu işlem, belirli bir
        bankanın sistemden kaldırılmasını sağlar.
      tags:
        - Banka
  /api/Banka/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Banka'
              type: array
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Sil Toplu
      description: >-
        Belirtilen aralıkta bulunan banka kayıtlarını toplu olarak siler. Bu
        işlem, birden fazla bankanın aynı anda kaldırılması gerektiğinde
        kullanılır.
      tags:
        - Banka
  /api/Banka/ControlDelete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Banka'
          application/json:
            schema:
              $ref: '#/components/schemas/Banka'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Banka'
          text/json:
            schema:
              $ref: '#/components/schemas/Banka'
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Kontrol Sil
      description: >-
        Belirtilen kriterlere göre banka kayıtlarını siler. Bu işlem, belirli
        bankaların sistemden kaldırılması için kullanılır.
      tags:
        - Banka
  /api/Banka/ControlDeleteById:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: Banka Kayıt Kontrol Sil ID ile
      description: >-
        Belirtilen ID'ye sahip banka kaydını siler. Bu işlem, belirli bir
        bankanın sistemden kaldırılmasını sağlar.
      tags:
        - Banka
  /api/Banka/GetListWithBakiye:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaFilterHelper'
      responses:
        '200':
          description: Success
      summary: Banka ve Bakiye Listele
      description: >-
        Banka hesaplarını ve bu hesapların bakiye bilgilerini getirir. Bu işlem,
        kullanıcıların banka hesaplarını ve bakiyelerini görüntülemelerini
        sağlar.
      tags:
        - Banka
  /api/BankaIsl/BankaIslBorcAlacakBakiye:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
      responses:
        '200':
          description: Success
      summary: Banka İşlem Borç/Alacak Bakiye Getirme
      description: >-
        Banka işlemlerinin borç ve alacak bakiyelerini getirir. Bu işlem,
        bankadaki borç ve alacak durumunu incelemek için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/BankaIslemYap:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
      responses:
        '200':
          description: Success
      summary: Banka İşlemi Yapma
      description: >-
        Banka üzerinde bir işlem gerçekleştirir. Bu işlem, banka hesapları
        arasında para transferi veya diğer işlemleri yönetmek için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/GetListAll:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
      responses:
        '200':
          description: Success
      summary: Tüm Banka İşlemlerini Listeleme
      description: >-
        Veritabanındaki tüm banka işlemlerini listeler. Bu işlem, tüm banka
        işlemlerinin dökümünü almak için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/GetListAllWithBakiye:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
      responses:
        '200':
          description: Success
      summary: Tüm Banka İşlemlerini ve Bakiyelerini Getirme
      description: >-
        Banka işlemlerini ve ilgili bakiyeleri getirir. Bu işlem, işlemlerle
        birlikte bakiye bilgilerini de gösterir.
      tags:
        - BankaIsl
  /api/BankaIsl/GetListWithBakiye:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
      responses:
        '200':
          description: Success
      summary: Banka İşlemlerini ve Bakiyelerini Getirme
      description: >-
        Belirtilen banka işlemlerini ve ilgili bakiyeleri getirir. Bu işlem,
        belirli işlemlerle ilişkili bakiye bilgilerini görüntülemek için
        kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
      responses:
        '200':
          description: Success
      summary: Banka İşlemi Ekleme
      description: >-
        Yeni bir banka işlemi ekler. Bu işlem, sisteme yeni banka işlemleri
        eklemek için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
      responses:
        '200':
          description: Success
      summary: Banka İşlemi Aralığı Ekleme
      description: >-
        Belirtilen aralıkta birden fazla banka işlemi ekler. Bu işlem, toplu
        banka işlemleri eklemek için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
      responses:
        '200':
          description: Success
      summary: Banka İşlemi Silme
      description: >-
        Belirtilen ID'ye sahip banka işlemini siler. Bu işlem, belirli bir banka
        işlemini sistemden kaldırmak için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Banka İşlemi Silme
      description: >-
        Belirtilen ID'ye sahip banka işlemini siler. Bu işlem, belirli bir
        işlemin sistemden kaldırılmasını sağlar.
      tags:
        - BankaIsl
  /api/BankaIsl/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Banka İşlemi Silme
      description: >-
        Belirtilen aralıkta bulunan banka işlemlerini toplu olarak siler. Bu
        işlem, birden fazla işlemi aynı anda kaldırmak için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIslFilterHelper'
      responses:
        '200':
          description: Success
      summary: Tüm Banka İşlemlerini Getir
      description: >-
        Veritabanındaki tüm banka işlemlerini getirir. Bu işlem, kullanıcıların
        tüm banka işlemlerini listelemelerini sağlar.
      tags:
        - BankaIsl
  /api/BankaIsl/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Banka İşlemi Getir
      description: >-
        Belirtilen ID'ye sahip banka işlemini getirir. Bu işlem, belirli bir
        işlemi görüntülemek için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaIsl'
      responses:
        '200':
          description: Success
      summary: Banka İşlemi Güncelle
      description: >-
        Belirtilen ID'ye sahip banka işlemini günceller. Bu işlem, mevcut bir
        bankadaki işlemin bilgilerini güncellemek için kullanılır.
      tags:
        - BankaIsl
  /api/BankaIsl/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaIsl'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Banka İşlemi Güncelleme
      description: >-
        Belirtilen aralıkta bulunan banka işlemlerini toplu olarak günceller. Bu
        işlem, birden fazla bankanın aynı anda güncellenmesi gerektiğinde
        kullanılır.
      tags:
        - BankaIsl
  /api/BankaKullanicisifre/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
      responses:
        '200':
          description: Success
      summary: Banka Kullanıcı Şifresi Ekleme
      description: >-
        Yeni bir banka kullanıcı şifresi ekler. Bu işlem, sistemde yeni
        kullanıcı şifreleri oluşturmak için kullanılır.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/BankaKullanicisifre/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
      responses:
        '200':
          description: Success
      summary: Banka Kullanıcı Şifresi Aralığı Ekleme
      description: >-
        Belirtilen aralıkta birden fazla banka kullanıcı şifresi ekler. Bu
        işlem, toplu kullanıcı şifreleri eklemek için kullanılır.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/BankaKullanicisifre/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
      responses:
        '200':
          description: Success
      summary: Banka Kullanıcı Şifresi Silme
      description: >-
        Belirtilen ID'ye sahip banka kullanıcı şifresini siler. Bu işlem,
        kullanıcıların belirli şifreleri sistemden kaldırmalarına olanak tanır.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/BankaKullanicisifre/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Banka Kullanıcı Şifresi Silme
      description: >-
        Belirtilen ID'ye sahip banka kullanıcı şifresini siler. Bu işlem,
        belirli bir şifrenin sistemden kaldırılmasını sağlar.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/BankaKullanicisifre/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Banka Kullanıcı Şifresi Silme
      description: >-
        Belirtilen aralıkta bulunan banka kullanıcı şifrelerini toplu olarak
        siler. Bu işlem, birden fazla şifrenin aynı anda kaldırılması
        gerektiğinde kullanılır.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/BankaKullanicisifre/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifreFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifreFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifreFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifreFilterHelper'
      responses:
        '200':
          description: Success
      summary: Tüm Banka Kullanıcı Şifrelerini Getir
      description: >-
        Veritabanındaki tüm banka kullanıcı şifrelerini getirir. Bu işlem,
        kullanıcıların tüm şifreleri listelemelerini sağlar.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/BankaKullanicisifre/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Banka Kullanıcı Şifresi Getir
      description: >-
        Belirtilen ID'ye sahip banka kullanıcı şifresini getirir. Bu işlem,
        belirli bir şifreyi görüntülemek için kullanılır.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/BankaKullanicisifre/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          application/json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
          text/json:
            schema:
              $ref: '#/components/schemas/BankaKullanicisifre'
      responses:
        '200':
          description: Success
      summary: Banka Kullanıcı Şifresi Güncelle
      description: >-
        Belirtilen ID'ye sahip banka kullanıcı şifresini günceller. Bu işlem,
        mevcut bir şifrede yapılan değişiklikleri güncellemek için kullanılır.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/BankaKullanicisifre/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/BankaKullanicisifre'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Banka Kullanıcı Şifrelerini Güncelleme
      description: >-
        Belirtilen aralıkta bulunan banka kullanıcı şifrelerini toplu olarak
        günceller. Bu işlem, birden fazla şifrenin aynı anda güncellenmesi
        gerektiğinde kullanılır.
      tags:
        - Banka Kullanici Şifre İşlemleri
  /api/Bodrotablo/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          application/json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          text/json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
      responses:
        '200':
          description: Success
      summary: Bordro Tablosu Ekleme
      description: >-
        Yeni bir bordro tablosu ekler. Bu işlem, sisteme yeni bordro kayıtları
        eklemek için kullanılır.
      tags:
        - Bodro Tablo
  /api/Bodrotablo/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
      responses:
        '200':
          description: Success
      summary: Bordro Tablosu Aralığı Ekleme
      description: >-
        Belirtilen aralıkta birden fazla bordro tablosu ekler. Bu işlem, toplu
        bordro eklemeleri yapmak için kullanılır.
      tags:
        - Bodro Tablo
  /api/Bodrotablo/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          application/json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          text/json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
      responses:
        '200':
          description: Success
      summary: Bordro Tablosu Silme
      description: >-
        Belirtilen ID'ye sahip bordro tablosunu siler. Bu işlem, kullanıcıların
        belirli bordro tablolarını sistemden kaldırmalarına olanak tanır.
      tags:
        - Bodro Tablo
  /api/Bodrotablo/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Bordro Tablosu Silme
      description: >-
        Belirtilen ID'ye sahip bordro tablosunu siler. Bu işlem, belirli bir
        bordro kaydının sistemden kaldırılmasını sağlar.
      tags:
        - Bodro Tablo
  /api/Bodrotablo/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Bordro Tablosu Silme
      description: >-
        Belirtilen aralıkta bulunan bordro tablolarını toplu olarak siler. Bu
        işlem, birden fazla bordro kaydının aynı anda kaldırılması gerektiğinde
        kullanılır.
      tags:
        - Bodro Tablo
  /api/Bodrotablo/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BodrotabloFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BodrotabloFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BodrotabloFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BodrotabloFilterHelper'
      responses:
        '200':
          description: Success
      summary: Tüm Bordro Tablolarını Getir
      description: >-
        Veritabanındaki tüm bordro tablolarını getirir. Bu işlem, kullanıcıların
        tüm bordro kayıtlarını listelemelerini sağlar.
      tags:
        - Bodro Tablo
  /api/Bodrotablo/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Bordro Tablosu Getir
      description: >-
        Belirtilen ID'ye sahip bordro tablosunu getirir. Bu işlem, belirli bir
        bordro kaydını görüntülemek için kullanılır.
      tags:
        - Bodro Tablo
  /api/Bodrotablo/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          application/json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
          text/json:
            schema:
              $ref: '#/components/schemas/Bodrotablo'
      responses:
        '200':
          description: Success
      summary: Bordro Tablosu Güncelle
      description: >-
        Belirtilen ID'ye sahip bordro tablosunu günceller. Bu işlem, mevcut bir
        bordro kaydındaki bilgileri güncellemek için kullanılır.
      tags:
        - Bodro Tablo
  /api/Bodrotablo/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bodrotablo'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Bordro Tablosu Güncelleme
      description: >-
        Belirtilen aralıkta bulunan bordro tablolarını toplu olarak günceller.
        Bu işlem, birden fazla bordro kaydının aynı anda güncellenmesi
        gerektiğinde kullanılır.
      tags:
        - Bodro Tablo
  /api/Bordroayar/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
      responses:
        '200':
          description: Success
      summary: Bordro Ayarı Ekleme
      description: >-
        Yeni bir bordro ayarı ekler. Bu işlem, sisteme yeni bordro ayarları
        eklemek için kullanılır.
      tags:
        - Bordro Ayar
  /api/Bordroayar/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Bordro Ayarı Aralığı Ekleme
      description: >-
        Belirtilen aralıkta birden fazla bordro ayarı ekler. Bu işlem, toplu
        bordro ayarları eklemek için kullanılır.
      tags:
        - Bordro Ayar
  /api/Bordroayar/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
      responses:
        '200':
          description: Success
      summary: Bordro Ayarı Silme
      description: >-
        Belirtilen ID'ye sahip bordro ayarını siler. Bu işlem, kullanıcıların
        belirli bordro ayarlarını sistemden kaldırmalarına olanak tanır.
      tags:
        - Bordro Ayar
  /api/Bordroayar/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Bordro Ayarı Silme
      description: >-
        Belirtilen ID'ye sahip bordro ayarını siler. Bu işlem, belirli bir
        bordro ayarının sistemden kaldırılmasını sağlar.
      tags:
        - Bordro Ayar
  /api/Bordroayar/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Bordro Ayarı Silme
      description: >-
        Belirtilen aralıkta bulunan bordro ayarlarını toplu olarak siler. Bu
        işlem, birden fazla bordro ayarının aynı anda kaldırılması gerektiğinde
        kullanılır.
      tags:
        - Bordro Ayar
  /api/Bordroayar/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BordroayarFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BordroayarFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BordroayarFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BordroayarFilterHelper'
      responses:
        '200':
          description: Success
      summary: Tüm Bordro Ayarlarını Getir
      description: >-
        Veritabanındaki tüm bordro ayarlarını getirir. Bu işlem, kullanıcıların
        tüm bordro ayarlarını listelemelerini sağlar.
      tags:
        - Bordro Ayar
  /api/Bordroayar/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Bordro Ayarı Getir
      description: >-
        Belirtilen ID'ye sahip bordro ayarını getirir. Bu işlem, belirli bir
        bordro ayarını görüntülemek için kullanılır.
      tags:
        - Bordro Ayar
  /api/Bordroayar/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Bordroayar'
      responses:
        '200':
          description: Success
      summary: Bordro Ayarı Güncelle
      description: >-
        Belirtilen ID'ye sahip bordro ayarını günceller. Bu işlem, mevcut bir
        bordro ayarındaki bilgileri güncellemek için kullanılır.
      tags:
        - Bordro Ayar
  /api/Bordroayar/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordroayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Bordro Ayarlarını Güncelleme
      description: >-
        Belirtilen aralıkta bulunan bordro ayarlarını toplu olarak günceller. Bu
        işlem, birden fazla bordro ayarının aynı anda güncellenmesi gerektiğinde
        kullanılır.
      tags:
        - Bordro Ayar
  /api/Bordrovergidilimayar/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
      responses:
        '200':
          description: Success
      summary: Bordro Vergi Dilimi Ayarı Ekleme
      description: >-
        Yeni bir bordro vergi dilimi ayarı ekler. Bu işlem, sisteme yeni vergi
        dilimi ayarları eklemek için kullanılır.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/Bordrovergidilimayar/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Bordro Vergi Dilimi Ayarı Aralığı Ekleme
      description: >-
        Belirtilen aralıkta birden fazla bordro vergi dilimi ayarı ekler. Bu
        işlem, toplu vergi dilimi ayarları eklemek için kullanılır.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/Bordrovergidilimayar/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
      responses:
        '200':
          description: Success
      summary: Bordro Vergi Dilimi Ayarı Silme
      description: >-
        Belirtilen ID'ye sahip bordro vergi dilimi ayarını siler. Bu işlem,
        kullanıcıların belirli vergi dilimi ayarlarını sistemden kaldırmalarına
        olanak tanır.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/Bordrovergidilimayar/deletebyid:
    delete:
      parameters:
        - explode: true
          in: query
          name: entityId
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Bordro Vergi Dilimi Ayarı Silme
      description: >-
        Belirtilen ID'ye sahip bordro vergi dilimi ayarını siler. Bu işlem,
        belirli bir vergi dilimi ayarının sistemden kaldırılmasını sağlar.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/Bordrovergidilimayar/deleterange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Bordro Vergi Dilimi Ayarı Silme
      description: >-
        Belirtilen aralıkta bulunan bordro vergi dilimi ayarlarını toplu olarak
        siler. Bu işlem, birden fazla vergi dilimi ayarının aynı anda
        kaldırılması gerektiğinde kullanılır.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/Bordrovergidilimayar/getall:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/BordrovergidilimayarFilterHelper'
          application/json:
            schema:
              $ref: '#/components/schemas/BordrovergidilimayarFilterHelper'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BordrovergidilimayarFilterHelper'
          text/json:
            schema:
              $ref: '#/components/schemas/BordrovergidilimayarFilterHelper'
      responses:
        '200':
          description: Success
      summary: Tüm Bordro Vergi Dilimi Ayarlarını Getir
      description: >-
        Veritabanındaki tüm bordro vergi dilimi ayarlarını getirir. Bu işlem,
        kullanıcıların tüm vergi dilimi ayarlarını listelemelerini sağlar.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/Bordrovergidilimayar/getbyid:
    get:
      parameters:
        - explode: true
          in: query
          name: id
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        '200':
          description: Success
      summary: ID ile Bordro Vergi Dilimi Ayarı Getir
      description: >-
        Belirtilen ID'ye sahip bordro vergi dilimi ayarını getirir. Bu işlem,
        belirli bir vergi dilimi ayarını görüntülemek için kullanılır.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/Bordrovergidilimayar/update:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          application/json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
          text/json:
            schema:
              $ref: '#/components/schemas/Bordrovergidilimayar'
      responses:
        '200':
          description: Success
      summary: Bordro Vergi Dilimi Ayarı Güncelle
      description: >-
        Belirtilen ID'ye sahip bordro vergi dilimi ayarını günceller. Bu işlem,
        mevcut bir vergi dilimi ayarındaki bilgileri güncellemek için
        kullanılır.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/Bordrovergidilimayar/updaterange:
    put:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/Bordrovergidilimayar'
              type: array
      responses:
        '200':
          description: Success
      summary: Toplu Bordro Vergi Dilimi Ayarlarını Güncelleme
      description: >-
        Belirtilen aralıkta bulunan bordro vergi dilimi ayarlarını toplu olarak
        günceller. Bu işlem, birden fazla vergi dilimi ayarının aynı anda
        güncellenmesi gerektiğinde kullanılır.
      tags:
        - Bordro Vergi Dilim Ayar
  /api/CariAdresler/add:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CariAdresler'
          application/json:
            schema:
              $ref: '#/components/schemas/CariAdresler'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CariAdresler'
          text/json:
            schema:
              $ref: '#/components/schemas/CariAdresler'
      responses:
        '200':
          description: Success
      summary: Cari Adres Ekleme
      description: >-
        Yeni bir cari adres ekler. Bu işlem, sisteme yeni müşteri adresleri
        eklemek için kullanılır.
      tags:
        - Cari Adresler
  /api/CariAdresler/addrange:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              items:
                $ref: '#/components/schemas/CariAdresler'
              type: array
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/CariAdresler'
              type: array
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/CariAdresler'
              type: array
          text/json:
            schema:
              items:
                $ref: '#/components/schemas/CariAdresler'
              type: array
      responses:
        '200':
          description: Success
      summary: Cari Adres Aralığı Ekleme
      description: >-
        Belirtilen aralıkta birden fazla cari adres ekler. Bu işlem, toplu
        müşteri adresleri eklemek için kullanılır.
      tags:
        - Cari Adresler
  /api/CariAdresler/delete:
    post:
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/CariAdresler'
          application/json:
            schema:
              $ref: '#/components/schemas/CariAdresler'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CariAdresler'
          text/json:
            schema:
              $ref: '#/components/schemas/CariAdresler'
      responses:
        '200':
          description: Success
      summary: Cari Adres Silme
[...]
