
# API dokümantasyonu için ana yapı
openapi: 3.0.0

# API hakkında genel bilgiler
info:
  title: "Bilsoft API Dökümantasyonu"  # Başlık
  version: "v1.2"  # Sürüm numarası
  description: "Bu API dökümantasyonu Bilsoft uygulamaları için kullanılır."  # Açıklama
  contact:
    name: "Bilsoft Destek"  # İletişim Bilgisi
    url: "https://bilsoft.com/support"
    email: "support@bilsoft.com"

# API'nin erişilebileceği sunucular
servers:
  - url: "https://api.bilsoft.com/v1"  # API sunucu adresi
    description: "Üretim Sunucusu"

# API'nin tüm uç noktaları (endpoints)
paths:
  /api/Ajanda/add:
    post:
      summary: "Ajanda Ekleme"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ajanda/addrange:
    post:
      summary: "POST /api/Ajanda/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ajanda/delete:
    post:
      summary: "POST /api/Ajanda/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ajanda/deletebyid:
    delete:
      summary: "Ajanda Silme"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ajanda/deleterange:
    post:
      summary: "POST /api/Ajanda/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ajanda/getall:
    post:
      summary: "POST /api/Ajanda/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ajanda/getbyid:
    get:
      summary: "GET /api/Ajanda/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ajanda/update:
    put:
      summary: "PUT /api/Ajanda/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ajanda/updaterange:
    put:
      summary: "PUT /api/Ajanda/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ajanda"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/add:
    post:
      summary: "POST /api/AjandaDosya/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/addrange:
    post:
      summary: "POST /api/AjandaDosya/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/delete:
    post:
      summary: "POST /api/AjandaDosya/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/deletebyid:
    delete:
      summary: "DELETE /api/AjandaDosya/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/deleterange:
    post:
      summary: "POST /api/AjandaDosya/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/getall:
    post:
      summary: "POST /api/AjandaDosya/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/getbyid:
    get:
      summary: "GET /api/AjandaDosya/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/update:
    put:
      summary: "PUT /api/AjandaDosya/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaDosya/updaterange:
    put:
      summary: "PUT /api/AjandaDosya/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaDosya"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/add:
    post:
      summary: "POST /api/AjandaNotlar/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/addrange:
    post:
      summary: "POST /api/AjandaNotlar/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/delete:
    post:
      summary: "POST /api/AjandaNotlar/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/deletebyid:
    delete:
      summary: "DELETE /api/AjandaNotlar/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/deleterange:
    post:
      summary: "POST /api/AjandaNotlar/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/getall:
    post:
      summary: "POST /api/AjandaNotlar/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/getbyid:
    get:
      summary: "GET /api/AjandaNotlar/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/update:
    put:
      summary: "PUT /api/AjandaNotlar/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/AjandaNotlar/updaterange:
    put:
      summary: "PUT /api/AjandaNotlar/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "AjandaNotlar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/add:
    post:
      summary: "POST /api/ApiKullanici/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/addrange:
    post:
      summary: "POST /api/ApiKullanici/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/delete:
    post:
      summary: "POST /api/ApiKullanici/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/deletebyid:
    delete:
      summary: "DELETE /api/ApiKullanici/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/deleterange:
    post:
      summary: "POST /api/ApiKullanici/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/getall:
    post:
      summary: "POST /api/ApiKullanici/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/getbyid:
    get:
      summary: "GET /api/ApiKullanici/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/update:
    put:
      summary: "PUT /api/ApiKullanici/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/ApiKullanici/updaterange:
    put:
      summary: "PUT /api/ApiKullanici/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "ApiKullanici"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Auth/GirisYap:
    post:
      summary: "POST /api/Auth/GirisYap"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Auth"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Auth/GirisYapDonemGetir:
    post:
      summary: "POST /api/Auth/GirisYapDonemGetir"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Auth"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Auth/SifreUnuttum:
    post:
      summary: "POST /api/Auth/SifreUnuttum"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Auth"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Auth/smsDogrulama:
    post:
      summary: "POST /api/Auth/smsDogrulama"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Auth"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Auth/smsKodGonder:
    post:
      summary: "POST /api/Auth/smsKodGonder"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Auth"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/add:
    post:
      summary: "POST /api/Ayar/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/addrange:
    post:
      summary: "POST /api/Ayar/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/delete:
    post:
      summary: "POST /api/Ayar/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/deletebyid:
    delete:
      summary: "DELETE /api/Ayar/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/deleterange:
    post:
      summary: "POST /api/Ayar/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/getall:
    post:
      summary: "POST /api/Ayar/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/getbyid:
    get:
      summary: "GET /api/Ayar/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/update:
    put:
      summary: "PUT /api/Ayar/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayar/updaterange:
    put:
      summary: "PUT /api/Ayar/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/add:
    post:
      summary: "POST /api/Ayarekmodul/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/addrange:
    post:
      summary: "POST /api/Ayarekmodul/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/delete:
    post:
      summary: "POST /api/Ayarekmodul/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/deletebyid:
    delete:
      summary: "DELETE /api/Ayarekmodul/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/deleterange:
    post:
      summary: "POST /api/Ayarekmodul/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/getall:
    post:
      summary: "POST /api/Ayarekmodul/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/getbyid:
    get:
      summary: "GET /api/Ayarekmodul/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/update:
    put:
      summary: "PUT /api/Ayarekmodul/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Ayarekmodul/updaterange:
    put:
      summary: "PUT /api/Ayarekmodul/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Ayarekmodul"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/ControlDelete:
    post:
      summary: "POST /api/Banka/ControlDelete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/ControlDeleteById:
    delete:
      summary: "DELETE /api/Banka/ControlDeleteById"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/GetListWithBakiye:
    post:
      summary: "POST /api/Banka/GetListWithBakiye"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/add:
    post:
      summary: "POST /api/Banka/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/addrange:
    post:
      summary: "POST /api/Banka/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/delete:
    post:
      summary: "POST /api/Banka/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/deletebyid:
    delete:
      summary: "DELETE /api/Banka/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/deleterange:
    post:
      summary: "POST /api/Banka/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/getall:
    post:
      summary: "POST /api/Banka/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/getbyid:
    get:
      summary: "GET /api/Banka/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/update:
    put:
      summary: "PUT /api/Banka/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Banka/updaterange:
    put:
      summary: "PUT /api/Banka/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Banka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/BankaIslBorcAlacakBakiye:
    post:
      summary: "POST /api/BankaIsl/BankaIslBorcAlacakBakiye"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/BankaIslemYap:
    post:
      summary: "POST /api/BankaIsl/BankaIslemYap"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/GetListAll:
    post:
      summary: "POST /api/BankaIsl/GetListAll"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/GetListAllWithBakiye:
    post:
      summary: "POST /api/BankaIsl/GetListAllWithBakiye"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/GetListWithBakiye:
    post:
      summary: "POST /api/BankaIsl/GetListWithBakiye"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/add:
    post:
      summary: "POST /api/BankaIsl/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/addrange:
    post:
      summary: "POST /api/BankaIsl/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/delete:
    post:
      summary: "POST /api/BankaIsl/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/deletebyid:
    delete:
      summary: "DELETE /api/BankaIsl/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/deleterange:
    post:
      summary: "POST /api/BankaIsl/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/getall:
    post:
      summary: "POST /api/BankaIsl/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/getbyid:
    get:
      summary: "GET /api/BankaIsl/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/update:
    put:
      summary: "PUT /api/BankaIsl/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaIsl/updaterange:
    put:
      summary: "PUT /api/BankaIsl/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaIsl"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/add:
    post:
      summary: "POST /api/BankaKullanicisifre/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/addrange:
    post:
      summary: "POST /api/BankaKullanicisifre/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/delete:
    post:
      summary: "POST /api/BankaKullanicisifre/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/deletebyid:
    delete:
      summary: "DELETE /api/BankaKullanicisifre/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/deleterange:
    post:
      summary: "POST /api/BankaKullanicisifre/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/getall:
    post:
      summary: "POST /api/BankaKullanicisifre/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/getbyid:
    get:
      summary: "GET /api/BankaKullanicisifre/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/update:
    put:
      summary: "PUT /api/BankaKullanicisifre/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/BankaKullanicisifre/updaterange:
    put:
      summary: "PUT /api/BankaKullanicisifre/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "BankaKullanicisifre"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/add:
    post:
      summary: "POST /api/Bodrotablo/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/addrange:
    post:
      summary: "POST /api/Bodrotablo/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/delete:
    post:
      summary: "POST /api/Bodrotablo/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/deletebyid:
    delete:
      summary: "DELETE /api/Bodrotablo/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/deleterange:
    post:
      summary: "POST /api/Bodrotablo/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/getall:
    post:
      summary: "POST /api/Bodrotablo/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/getbyid:
    get:
      summary: "GET /api/Bodrotablo/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/update:
    put:
      summary: "PUT /api/Bodrotablo/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bodrotablo/updaterange:
    put:
      summary: "PUT /api/Bodrotablo/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bodrotablo"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/add:
    post:
      summary: "POST /api/Bordroayar/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/addrange:
    post:
      summary: "POST /api/Bordroayar/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/delete:
    post:
      summary: "POST /api/Bordroayar/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/deletebyid:
    delete:
      summary: "DELETE /api/Bordroayar/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/deleterange:
    post:
      summary: "POST /api/Bordroayar/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/getall:
    post:
      summary: "POST /api/Bordroayar/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/getbyid:
    get:
      summary: "GET /api/Bordroayar/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/update:
    put:
      summary: "PUT /api/Bordroayar/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordroayar/updaterange:
    put:
      summary: "PUT /api/Bordroayar/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordroayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/add:
    post:
      summary: "POST /api/Bordrovergidilimayar/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/addrange:
    post:
      summary: "POST /api/Bordrovergidilimayar/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/delete:
    post:
      summary: "POST /api/Bordrovergidilimayar/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/deletebyid:
    delete:
      summary: "DELETE /api/Bordrovergidilimayar/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/deleterange:
    post:
      summary: "POST /api/Bordrovergidilimayar/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/getall:
    post:
      summary: "POST /api/Bordrovergidilimayar/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/getbyid:
    get:
      summary: "GET /api/Bordrovergidilimayar/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/update:
    put:
      summary: "PUT /api/Bordrovergidilimayar/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/Bordrovergidilimayar/updaterange:
    put:
      summary: "PUT /api/Bordrovergidilimayar/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "Bordrovergidilimayar"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/add:
    post:
      summary: "POST /api/CariAdresler/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/addrange:
    post:
      summary: "POST /api/CariAdresler/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/delete:
    post:
      summary: "POST /api/CariAdresler/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/deletebyid:
    delete:
      summary: "DELETE /api/CariAdresler/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/deleterange:
    post:
      summary: "POST /api/CariAdresler/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/getall:
    post:
      summary: "POST /api/CariAdresler/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/getbyid:
    get:
      summary: "GET /api/CariAdresler/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/update:
    put:
      summary: "PUT /api/CariAdresler/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariAdresler/updaterange:
    put:
      summary: "PUT /api/CariAdresler/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariAdresler"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/add:
    post:
      summary: "POST /api/CariBanka/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/addrange:
    post:
      summary: "POST /api/CariBanka/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/delete:
    post:
      summary: "POST /api/CariBanka/delete"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/deletebyid:
    delete:
      summary: "DELETE /api/CariBanka/deletebyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/deleterange:
    post:
      summary: "POST /api/CariBanka/deleterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/getall:
    post:
      summary: "POST /api/CariBanka/getall"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/getbyid:
    get:
      summary: "GET /api/CariBanka/getbyid"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/update:
    put:
      summary: "PUT /api/CariBanka/update"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariBanka/updaterange:
    put:
      summary: "PUT /api/CariBanka/updaterange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariBanka"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: array
              properties:
          application/json:
            schema:
              type: array
              properties:
          application/json-patch+json:
            schema:
              type: array
              properties:
          text/json:
            schema:
              type: array
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariGrup/add:
    post:
      summary: "POST /api/CariGrup/add"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariGrup"  # Etiket
      requestBody:
        description: ""  # İstek gövdesi açıklaması
        required: True
        content:
          application/*+json:
            schema:
              type: 
              properties:
          application/json:
            schema:
              type: 
              properties:
          application/json-patch+json:
            schema:
              type: 
              properties:
          text/json:
            schema:
              type: 
              properties:
      responses:
        '200':
          description: "Success"  # Yanıt açıklaması
  /api/CariGrup/addrange:
    post:
      summary: "POST /api/CariGrup/addrange"  # Kısa açıklama
      description: ""  # Detaylı açıklama
      operationId: ""  # Operasyon ID'si
      tags:
        - "CariGrup"  # Etiket
[...]
